# git ignore file
*.lib
*.cache
*.tlog
*.manifest
*.lastbuildstate
*.pdb
*.deps
*.exe
*.ilk
*.log
*.sdf
*.dll
*.opensdf
*.rc
*.res
*.ipch
moc_*.cpp
ui_*.h
*.obj
*.ptx
*.mtl
*.idb
*.suo
*.unsuccessfulbuild
/Debug
/x64
*.blend1
*.vcxproj.user
__pycache__
